<link rel="import" href="{$components_url}bower_components/iron-flex-layout/classes/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">My space helper</div>
        <div class="description">
            My Space is een plek waar iedere gebruiker datalets, tekst en links kan beheren in een persoonlijke omgeving,
            om te onthouden of om te gebruiken op een later moment in een post (op Laatste nieuws of in de Publieke ruimte van de Agora).
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace1_nl.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Kaarten</div>
                    </div>
                    <div class="vetical layout cell">
                        <p>
                            Alle inhoud wordt geplaatst op een "kaart". U kunt een URL, een datalet (visualisering van een dataset) of normale tekst toevoegen aan een kaart,
                            simpelweg door te klikken op het grote "+" pictogram rechtsonder. Klik op het groen pictogram in het midden van de kaart om de inhoud van een kaart
                            te tonen. Iedere kaart heeft ook een titel (op zwarte achtergrond). Bij iedere kaart, kun je bovenaan kiezen voor
                            aanpassen (penceel pictogram) of verwijderen (prullenbak). De kaarten worden op tijd gerangschikt (meest recente eerst).

                            Rechtboven kun je:
                            <ul class="cell-list">
                                <li>
                                    <b>De desbetreffende</b> kaart aanpassen <paper-fab mini icon="create" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                                </li>
                                <li>
                                    <b>De desbetreffende</b> kaart verwijderen <paper-fab mini icon="delete" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                                </li>
                            </ul>
                        </p>

                        <p>
                            Klik op het blauwe pictogram in het midden van de kaart om de inhoud te tonen. Als u uw gemaakte datalets bekijkt in uw eigen ruimte, dan haalt SPOD de data
                            niet van de oorspronkelijke data aabieder, maar uit de eigen database. Hierdoor verbetert de snelheid en de gebruikerservaring.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace2.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Types de kaarten</div>
                    </div>
                    <div class="vetical layout cell">
                        <p>
                            Je kunt verschillende soorten kaarten cre&euml;ren:
                            <ul class="cell-list">
                                <li>
                                    <b> Decision Tree</b> <img src="{$staticResourcesUrl}images/decisionTree.svg" style="width: 10%; height: 10%;">
                                </li>
                                <li>
                                    <b>Link kaart</b> <img src="{$staticResourcesUrl}images/link.svg" style="width: 10%; height: 10%;">
                                </li>
                                <li>
                                    <b>Tekst</b> kaart <img src="{$staticResourcesUrl}images/text.svg" style="width: 10%; height: 10%;">
                                </li>
                                <li>
                                    <b>OpenData Visualisering</b> <img src="{$staticResourcesUrl}images/datalet.svg" style="width: 10%; height: 10%;">
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace3.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Tekst en URL kaarten</div>
                    </div>
                    <div>
                        Het is mogelijk om een gegevensset maken met de Controller-interface terwijl tekst of URL (links)
                        een specifieke interface wordt aangeboden (een voorbeeld weergegeven aan de rechterkant).
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace4_nl.png" style="width: 60%; height: 100%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">De kaarten gebruiken</div>
                    </div>
                    <div>
                        Het is mogelijk om de inhoud uit deze ruimte te gebruiken om visualisaties te plaatsen in "laatste nieuws" of in &eacute;&eacute;n van de publieke ruimtes in de Agora.
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
