<link rel="import" href="{$components_url}bower_components/iron-flex-layout/classes/iron-flex-layout.html">


<style>

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">Spazio privato helper</div>
        <div class="description">
            In "Spazio privato" l'utente pu&ograve; creare contenuti come datalets, link e testo in un area personale e non accessibile dagli altri utenti.
            I contenuti possono essere utilizzati successivamente all'interno di posts nelle sezioni &quot;Novit&agrave;&quot; e nelle &quot;Stanze Pubbliche&quot;.
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace1_it.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Le carte</div>
                    </div>
                    <div class="vetical layout cell">
                        <p>
                            Ogni contenuto viene visualizzato in una carta. Puoi creare diversi tipi di contenuto come link a pagine web, datalet (visualizzazioni di Open Data)
                            o testo semplice, attraverso il menu accessibile dal bottone verde, posizionato in basso a destra. Ogni carta ha un titolo. Puoi modificare il contenuto della carta (icona "penna") o cancellarla completamente (icona "cestino")
                            o visualizzare a tutto schermo il suo contenuto (icona nera sul titolo). La disposizione delle carte segue l' ordine temporale con cui sono state create.
                        <p>
                            Sull' angolo destro della carta è possibile:
                        <ul class="cell-list">
                            <li>
                                <b>Modificare</b> la carta <paper-fab mini icon="create" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                            </li>
                            <li>
                                <b>Cancellare</b> la carta <paper-fab mini icon="delete" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                            </li>
                            <br>
                            Sull' angolo destro in basso della carta è possibile:
                            <li>
                                <b>Ingrandire</b> la carta <img src="{$staticResourcesUrl}images/fullscreen_blue.svg"  height="40" width="40" alt="Full screen">
                            </li>
                        </ul>
                        </p>

                        <p>
                            Quando un utente visualizza una datalet da uno &#x201c;Spazio privato&#x201d;, SPOD non contatter&agrave; il data provider ma utilizzer&agrave; i dati statici memorizzati
                            nel suo database. Questo permette di ottenere un considerevole  aumento delle prestazioni per una migliore esperienza da parte dell&#x2019;utente in presenza di
                            un numero consistente di visualizzazioni.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace2.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Tipi di carte</div>
                    </div>
                    <div class="vetical layout cell">
                        <p>
                            Per creare i diversi tipi di carte dal menu:
                        <ul class="cell-list">
                            <li>
                                <b>Maplet </b> <img src="{$staticResourcesUrl}images/maplocation.svg" style="width: 10%; height: 10%;">

                            </li>

                            <li>
                                <b>Albero di decisione </b> <img src="{$staticResourcesUrl}images/decisionTree.svg" style="width: 10%; height: 10%;">

                            </li>
                            <li>
                                <b>Link </b> <img src="{$staticResourcesUrl}images/link.svg" style="width: 10%; height: 10%;">

                            </li>
                            <li>
                                <b>Testo</b> <img src="{$staticResourcesUrl}images/text.svg" style="width: 10%; height: 10%;">
                            </li>
                            <li>
                                <b>Visualizzazioni di Open Data</b> <img src="{$staticResourcesUrl}images/datalet.svg" style="width: 10%; height: 10%;">
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace3.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Carte testo e url</div>
                    </div>
                    <div>
                        Per la creazione delle visualizzazioni di Open Data, SPOD fornisce un' unica interfaccia disponibile ovunque sia possibile postarle (la controllet di creazione datalet).
                        Per le carte link e testo sar&agrave; disponibile una interfaccia dedicata.
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace4_it.png" style="width: 60%; height: 100%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">4</div>
                        <div class="section-title">Come usare le carte</div>
                    </div>
                    <div>
                        Una volta creati i contenuti, sar&agrave; sempre possibile utilizzare i link e le datalets nei post nelle sezioni
                        &#x201c;Novit&agrave;&#x201d; e nelle &#x201c;stanze pubbliche&#x201d; presenti nell&#x2019;Agora.
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
