<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }


    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">Mon espace assistance</div>
        <div class="description">
            Mon espace coorespond au lieu où chaque utilisateur peu contrôler ses datalets, textes, liens et ses informations personnelles,
            et planifier des rappels d'actions pour une utilisation ultérieure (ex: dans la section "quoi de nouveau ?", dans l'espace public de l' Agora)
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace1_fr.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Cartes</div>
                    </div>
                    <div class="vetical layout cell">
                        <p>
                            Chaque contenu est placé dans une "carte". Vous pouvez ajouter dans une carte: un URL, un datalet
                            (visualisation de jeux de données) ou un texte entier, en cliquant sur le bouton "+" en bas à droite.
                            Afin d'afficher le contenu de la carte, vous devez simplement cliquer sur le bouton bleu dans le milieu de la carte.
                            Chaque carte peut également se voir attribuer un titre (en fond noir) et un commentaire (sous le titre).
                            Pour chaque carte, sur la partie supérieure, vous pouvez le modifier (icone crayon) ou le supprimer (panier).
                            La disposition des cartes suit un ordre chronologique (les plus récents).
                            Vous pouvez créer différents types de cartes:

                        <ul class="cell-list">
                            <li>
                                <b> Carte liée;</b> <paper-fab mini icon="link" aria-disabled="false" elevation="1"></paper-fab>
                            </li>
                            <li>
                                <b>Texte lié;</b> <paper-fab mini icon="text-format" aria-disabled="false" elevation="1"></paper-fab>
                            </li>
                            <li>
                                <b>Visualisation des données ouvertes</b> <paper-fab mini icon="assessment" aria-disabled="false" elevation="1"></paper-fab>
                            </li>
                        </ul>
                        </p>
                        <p>
                            En haut à droite vous pouvez:
                        <ul class="cell-list">
                            <li>
                                <b>Modifier</b> la carte liée <paper-fab mini icon="create" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                            </li>
                            <li>
                                <b>Supprimer</b> la carte liée <paper-fab mini icon="delete" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                            </li>
                        </ul>
                        </p>

                        <p>
                            Afin d'afficher le contenu, vous devez cliquer sur le bouton bleu dans le milieu de la carte.
                            Lorsque l'utilisateur tente de visualiser ses propres datalets dans l'espace privé,
                            le SPOD ne contacte pas les fournisseurs de données actuels mais récupère les données à partir de leur source.
                            Cela permet une meilleure expérience-utilisateur.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace2_fr.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Texte et Cartes URL</div>
                    </div>
                    <div>
                        Il est possible de créer un datalet en utilisant l'interface de contrôle alors que pour créer
                        un espace texte ou URL (liens) une interface spécifique est proposée (avec un aperçu à droite).
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace3_fr.png" style="width: 60%; height: 100%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Utiliser les cartes</div>
                    </div>
                    <div>
                        Vous pouvez utiliser le contenu créé dans cette zone pour poster une visualisation ou créer un
                        lien dans la zone "quoi de nouveau ?" (dans la figure à gauche) ou un espace public à l'intérieur de l' Agora.
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
