<style>
    #scroll_content{
        position: relative;
        overflow: auto;
    }
    div.cell{
        padding: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }
</style>

<h2>MySpace helper</h2>
<p>My space adds to SPOD a new area where users can manage datalets, text and link in a personal area, as reminder or for later use as post or comment.
</p>
<div id="scroll_content">
    <div class="horizontal layout">
        <div class="vertical layout cell">
            <img src="{$staticResourcesUrl}images/myspace1.png" style="width: 100%; height: 100%;">
        </div>
        <div class="vetical layout cell">
            <p>
               To display content just click on the blue button in the middle of the card. When a user tries to view its own datalets in their private space, SPOD does not contacts the actual data provider but retrieves the data from its own database.
               This allows in a great speed improvement and in a better user experience
            </p>
        </div>
    </div>
    <div class="horizontal layout">
        <div class="vertical layout cell">
            <img src="{$staticResourcesUrl}images/myspace2.png" style="width: 100%; height: 100%;">
        </div>
        <div class="vetical layout cell">
            <p>
                The dimension of cards is fixed. The layout of cards comply with the temporal order.
                It is possible create a datalet using the Controllet interface meanwhile for the creation of text and links there is a dedicated interface.
            </p>
        </div>
    </div>
    <div class="horizontal layout">
        <div class="vertical layout cell">
            <img src="{$staticResourcesUrl}images/myspace3.png" style="width: 100%; height: 100%;">
        </div>
        <div class="vetical layout cell">
            <p>
                You can use the contents created in the myspace area to post visualizations or links in the What's New area or in the threaded chat located in the Public Rooms
            </p>
        </div>
    </div>
</div>
