<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">

<style>
    .floatbox_header{
        display: none;
    }

    .floatbox_body{
        font-family: 'Roboto', sans-serif;
        background-color: #eeeeee;
        padding : 3px;
    }

    paper-fab.opinion-button{
        background:#5B646A;
        left: 15px;
    }

    #scroll_content{
        position: relative;
        overflow: scroll;
    }
    div.cell{
        padding: 20px;
        margin-left: 20px;
    }

    ul.cell-list {
        list-style-type: circle;
    }

    li{
        margin-left: 20px;
    }

    paper-scroll-header-panel {
        /*position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        height: 70vh;
    }

    .tall {
        background-color: #2196F3;
    }

    .tall .title {
        padding: 20px;
        font-size: 40px;
        color: #ffffff;
        /*width: 30%;*/
        position: relative;
        float: left;
    }

    .tall .description{
        padding: 20px;
        font-size: 15px;
        color: #ffffff;
        /*width: 70%;*/
        position: relative;
        float: left;
    }

    .sect{
        border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #fff; color: #555;
    }

    .section-number{
        display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #ddd; line-height: 64px; font-size: 30px; color: #666; text-align: center;
    }

    .section-title{
        font-size: 22px; padding-top: 18px; color: #888;margin-left: 20px;
    }
</style>

<div class="layout vertical">

    <div class="tall">
        <div class="title">My space helper</div>
        <div class="description">
            My space is the place where each user can manage datalets, text and
            link in a personal area, as a reminder or for later use within a post
            (in What's new or in the Public rooms of the Agora).
        </div>
    </div>

    <div class="content" id="scroll_content">

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace1.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">1</div>
                        <div class="section-title">Cards</div>
                    </div>
                    <div class="vetical layout cell">
                        <p>
                            Each content is placed in a "card". You can add in a card a URL, a
                            datalet (visualization of a dataset) or plain text, simply by clicking
                            <b>on the big "+" button</b> in the bottom right.
                            In order to display the content of a card, just click on the blue
                            button in the middle of the card. Each card has also a title (in black
                            background) and a comment (below the title). For each card, on the
                            top, you can modify (pencil icon) or delete it (basket)
                            The layout of the cards follows the temporal order (most recent first).
                            You can create different types of cards:
                        <ul class="cell-list">
                            <li>
                                <b>Link card</b> <paper-fab mini icon="link" aria-disabled="false" elevation="1"></paper-fab>
                            </li>
                            <li>
                                <b>Text</b> card <paper-fab mini icon="text-format" aria-disabled="false" elevation="1"></paper-fab>
                            </li>
                            <li>
                                <b>OpenData Visualization</b> <paper-fab mini icon="assessment" aria-disabled="false" elevation="1"></paper-fab>
                            </li>
                        </ul>
                        </p>

                        <p>
                            On top-right corner you can:
                        <ul class="cell-list">
                            <li>
                                <b>Modify</b> the related card <paper-fab mini icon="create" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                            </li>
                            <li>
                                <b>Delete</b> the related card <paper-fab mini icon="delete" aria-disabled="false" elevation="1" class="opinion-button"></paper-fab>
                            </li>
                        </ul>
                        </p>

                        <p>
                            To <b>display content</b> just click on the blue button in the middle of the card. When a user tries to view its own datalets in their private space, SPOD does not contacts the actual data provider but retrieves the data from its own database.
                            This allows in a great speed improvement and in a better user experience
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace2.png" style="width: 50%; height: 50%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">2</div>
                        <div class="section-title">Text and Url cards</div>
                    </div>
                    <div>
                        It is possible to create a datalet using the Controllet interface
                        while to create text or URL (links) a specific interface is offered
                        (with a preview on the right).
                    </div>
                </div>
            </div>
        </div>

        <div class="sect">
            <div class="horizontal layout cell">
                <img src="{$staticResourcesUrl}images/myspace3.png" style="width: 60%; height: 100%;">

                <div class="cell">
                    <div class="horizontal layout cell">
                        <div class="section-number">3</div>
                        <div class="section-title">Using the cards</div>
                    </div>
                    <div>
                        You will be able to use the contents created in the this area to post
                        visualizations or links in the What's New area (in the figure on the
                        left) or in the Public Rooms within the Agora.
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
