<!--{style}-->
<!--{literal}-->
<!--body .floatbox_header-->
<!--{-->
<!--display: none;-->
<!--}-->

<!--body .floatbox_bottom-->
<!--{-->
<!--display: none;-->
<!--}-->

<!--body .floatbox_body-->
<!--{-->
<!--padding: 0px 0px 0px 0px;-->
<!--}-->

<!--.paper_card_container {-->
    <!--margin: 15px-->
    <!--display:flex;-->
    <!--flex-direction: row;-->
    <!--flex-wrap: wrap;-->
<!--}-->

<!--{/literal}-->
<!--{/style}-->

<!--&lt;!&ndash;<link rel="import" href="{$components_url}controllets/paper-card-controllet/paper-card-controllet.html"/>-->
<!--<link rel="import" href="{$components_url}controllets/generic-cards-container-controllet/generic-cards-container-controllet.html"/>&ndash;&gt;-->

<!--{foreach $card_definition as $definition}-->
<!--&lt;!&ndash;<link rel="import" href="{$components_url}datalets/{$definition}/{$definition}.html"/>&ndash;&gt;-->
<!--{/foreach}-->

<!--<div class="paper_card_container">-->
    <!--<generic-cards-container-controllet>-->
    <!--{foreach $cards as $card}-->
    <!--<paper-card-controllet-->

            <!--class="grid-item"-->
            <!--width="200"-->
            <!--height="250"-->
            <!--datalet-id="{$card->dataletId}"-->
            <!--datalet="{$card->component}"-->
            <!--preset='{$card->preset}'-->
            <!--fields=''-->
            <!--card-type="{$card->cardType}"-->
            <!--card-title="{$card->card->title}"-->
            <!--card-id="{$card->cardId}"-->
            <!--comment="{$card->card->comment}"-->

            <!--{if $card->cardType == 'link'}-->
                <!--card-link="{$card->card->content}"-->
            <!--{/if}-->

    <!--&gt;-->

        <!--{if $card->isDatalet && !($card->cardType == 'link')}-->
            <!--<{$card->component} data='{$card->data}' {$card->parameters} disable_my_space></{$card->component}>-->
        <!--{else}-->
        <!--<preview-datalet data-url="undefined" url="{$card->card->content}"></preview-datalet>-->
        <!--{/if}-->

    <!--</paper-card-controllet>-->
    <!--{/foreach}-->
    <!--</generic-cards-container-controllet>-->
<!--</div>-->