{style}
    {literal}
        body .floatbox_header
        {
        display: none;
        }

        body .floatbox_bottom
        {
        display: none;
        }

        body .floatbox_body
        {
            padding: 0px 0px 0px 0px;
            background-color: #FAFAFA;
        }

        div.circle_button.modify, div.circle_button.delete, div#fullscreen {
            display: none;
        }

        div.circle_button.find {
            position: absolute;
            top: 20px;
            right: 24px;
        }

        div.search_input {
            position: absolute;
            top: 34px;
            right: 96px;
        }
    {/literal}
{/style}

<div class="import_header">
    {text key="spodpr+main"}
    <div class="circle_button find" onclick="SPODPR.leftTrigger();"></div>
    <div class="search_input"><input id="search"></div>
</div>

<div class="card_container import_card_container">

    {foreach $cards as $card}

        <div class="card" card-id="{$card->cardId}" card-type="{$card->cardType}" datalet-id="{$card->dataletId}" datalet-type="{$card->component}" datalet-preset='{$card->preset}' datalet-data='{$card->data}'>
            <div class="circle_button modify"></div>
            <div class="circle_button delete"></div>
            <preview-datalet datalet-id="{$card->dataletId}" datalet-type="{$card->component}" {$card->parameters} preview-title="{$card->dataletTitle}"></preview-datalet>
        </div>

    {/foreach}

</div>