<link rel="import" href="{$components_url}datalets/decision-tree-datalet/decision-tree-datalet.html" />

<style>

    .floatbox_header, .floatbox_bottom {
        display: none;
    }
    .container {
        height: 100%;
        width: 100%;
        /*width: 1200px;*/
        /*height: 600px;*/
        /*position: relative;*/
        /*left: calc((100% - 1200px) / 2);*/
    }

</style>

<div class="container">
    <decision-tree-datalet id="tree" json-tree='{$json_tree}' {literal} config="{readOnly:false}" {/literal}></decision-tree-datalet>
</div>