{$datalet_definition_import}

<!--{text key="spodpr+main"}-->

<div class="card_container">

    {foreach $cards as $card}

        <div class="card" card-id="{$card->cardId}" card-type="{$card->cardType}" datalet-id="{$card->dataletId}" datalet-type="{$card->component}" datalet-preset='{$card->preset}'>
            <div class="circle_button modify"></div>
            <div class="circle_button delete"></div>

            {if $card->cardType == 'datalet'}
                <!--data='{$card->data}'-->
                <preview-datalet datalet-id="{$card->dataletId}" datalet-type="{$card->component}" {$card->parameters}></preview-datalet>
            {else}
                <preview-link preview-type="{$card->cardType}" preview-title="{$card->card->title}" preview-description="{$card->card->comment}" preview-content="{$card->card->content}"></preview-link>
            {/if}

        </div>

    {/foreach}

    <div class="circle_button add" onclick="SPODPR.dropdownTrigger();"></div>
    <div class="circle_button find"></div>

</div>

<div id="addSD" class="circle_button subAdd" title='{text key="spodpr+create_decisiontree"}' onclick="SPODPR.openSilverDecisions();"></div>
<div id="addLink" class="circle_button subAdd" title='{text key="spodpr+create_link"}' onclick="SPODPR.openCardCreator('link');"></div>
<div id="addText" class="circle_button subAdd" title='{text key="spodpr+create_text"}' onclick="SPODPR.openCardCreator('text');"></div>
<div id="addDatalet" class="circle_button subAdd" title='{text key="spodpr+create_datalet"}' onclick="SPODPR.openOde();"></div>