<link rel="import" href="{$components_url}bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="{$components_url}bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/iron-icons.html">
<link rel="import" href="{$components_url}bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="{$components_url}bower_components/paper-fab/paper-fab.html">
<link rel="import" href="{$components_url}bower_components/paper-fab-transitions/paper-fab-speed-dial.html">
<link rel="import" href="{$components_url}bower_components/paper-menu/paper-menu.html">
<link rel="import" href="{$components_url}bower_components/paper-item/paper-item.html">

<link rel="import" href="{$components_url}controllets/paper-card-controllet/paper-card-controllet.html"/>
<link rel="import" href="{$components_url}controllets/search-panel-controllet/search-panel-controllet.html"/>

<link rel="import" href="{$components_url}bower_components/paper-card/paper-card.html">
<link rel="import" href="{$components_url}bower_components/paper-button/paper-button.html">
<link rel="import" href="{$components_url}bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="{$components_url}bower_components/paper-styles/color.html">

<!-- DATALET -->
<link rel="import" href="{$components_url}datalets/areachart-datalet/areachart-datalet.html">
<link rel="import" href="{$components_url}datalets/barchart-datalet/barchart-datalet.html">
<link rel="import" href="{$components_url}datalets/bubble3d-datalet/bubble3d-datalet.html">
<link rel="import" href="{$components_url}datalets/column3Dchart-datalet/column3Dchart-datalet.html">
<link rel="import" href="{$components_url}datalets/datatable-datalet/datatable-datalet.html">
<link rel="import" href="{$components_url}datalets/donutpie3dchart-datalet/donutpie3dchart-datalet.html">
<link rel="import" href="{$components_url}datalets/leafletjs-datalet/leafletjs-datalet.html">
<link rel="import" href="{$components_url}datalets/linechart-datalet/linechart-datalet.html">
<link rel="import" href="{$components_url}datalets/preview-datalet/preview-datalet.html">
<link rel="import" href="{$components_url}datalets/treemap-datalet/treemap-datalet.html">
<link rel="import" href="{$components_url}datalets/columnchart-datalet/columnchart-datalet.html">
<!-- DATALET -->

<script type="text/javascript" src="{$plugin_root_dir}js/masonry.pkgd.min.js"></script>

<link rel="localization" href="{$components_url}locales/{$user_language}.l20n">

{literal}


<style is="custom-style">

    paper-toolbar.toolbar-main
    {
        --paper-toolbar-background:#2196F3;
        -moz-box-shadow: 0 0 20px 5px #999;
        -webkit-box-shadow: 0 0 20px 5px #999;
    }

    .paper-card-container
    {
        padding:30px 0px 0px 30px;
    }

    paper-card-controllet{
        margin-bottom : 20px;
    }

    paper-fab.add-paper-fab {
        position: absolute;
        bottom: 25px;
        right: 50px;
        --paper-fab-background:#2196F3;
    }

    paper-fab-speed-dial.add-paper-fab {
        position: absolute;
        bottom: 55px;
        right: 40px;
    }
    paper-fab{
        --paper-fab-background:#2196F3;
    }

    .grid
    {
        width: 100%;
        z-index: 0;
    }

    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-item {
        float: left;
        /*border: 2px solid #333;
        height: 200px;
        width: 200px;
        overflow: hidden;*/
        /*border-width: 1em;
        border-radius: 0.125rem;
        box-shadow: 0.125em 0.125em 0.1125em 0.125em rgba(0, 0, 0, 0.25);*/
    }

    body .floatbox_canvas .floatbox_container {
        margin-top: 50px;
    }

</style>

<script type="text/javascript">

    $(document).ready(function () {
        //setTimeout(function() {
            $('.grid').masonry({
                // options
                itemSelector: '.grid-item',
                columnWidth: 120
            });
        //},1500);
    });

    function test_replace_card()
    {
        var data = JSON.parse('{"component": "barchart-datalet", "params": {"data-url": "http://ckan.routetopa.eu/api/action/datastore_search?resource_id=c3b52992-ba61-4a73-a637-0f2e1ca26aab", "title": "undefined", "x-axis-label": "undefined", "y-axis-label": "undefined", "suffix": "undefined" }, "fields": "", "_colorIndex": 0, "dataletId": "26" }');
        data.params = JSON.stringify(data.params);
        var id = 98;

        var card = $("[card-id="+id+"]");
        /*var sibling_card = $(card[0]).prev();

        card[0].remove();
        var mod_card = create_card(data, id);

        if(sibling_card.length == 0)
            $('.grid').prepend(mod_card);
        else
            $(sibling_card[0]).after(mod_card);*/

        var mod_card = create_card(data, id);
        card[0].$.content.innerHTML = mod_card.$.content.innerHTML;
    }


    function replace_text_link_card(data, id)
    {
        var card = $("[card-id="+id+"]");
        card[0].setAttribute('comment', data.comment);
        card[0].setAttribute('card-title', data.title);
        card[0].$.content.innerHTML = data.content;
    }

    function replace_datalet_card(data, id)
    {
        var card = $("[card-id="+id+"]");
        var mod_card = create_card(data, id);
        card[0].setAttribute('preset', mod_card.getAttribute('preset'));
        card[0].setAttribute('comment', mod_card.getAttribute('comment'));
        card[0].setAttribute('card-title', mod_card.getAttribute('card-title'));
        card[0].$.content.innerHTML = mod_card.$.content.innerHTML;
    }

    function add_card(data, id)
    {
        var card = create_card(data, id);
        //document.getElementById('grid-container').appendChild(paperCard);
        $('.grid').masonry().append(card).masonry('appended', card).masonry();
    }

    function create_card(data, id)
    {
        var paperCard = document.createElement('paper-card-controllet');
        paperCard.setAttribute('class', 'grid-item');
        paperCard.setAttribute('width', '200');
        paperCard.setAttribute('height', '200');
        paperCard.setAttribute('card-id', id);


        if(data.params != undefined)
        {
            paperCard.setAttribute('preset', data.params);
            data.params = JSON.parse(data.params);
            paperCard.setAttribute('card-type', 'datalet');
            paperCard.setAttribute('card-title', data.params.title);
            paperCard.setAttribute('comment', data.params.description);
            paperCard.setAttribute('datalet', data.component);
            paperCard.setAttribute('fields', data.fields);
            paperCard.$.content.innerHTML = '<'+data.component+' data-url="'+data.params["data-url"]+'" data="" fields=\'['+data.fields+']\'></'+data.component+'>';
        }
        else
        {
            paperCard.setAttribute('card-type', data.type);
            paperCard.setAttribute('card-title', data.title);
            paperCard.setAttribute('comment', data.comment);

            if(data.type == 'text') {
                paperCard.$.content.innerHTML = data.content;
            } else {
                paperCard.setAttribute('card-link', data.content);
                paperCard.$.content.innerHTML = '<preview-datalet data-url="undefined" url="' + data.content + '"></preview-datalet>';
            }
        }

        return paperCard;

    }

    function remove_card(card)
    {
        $('.grid').masonry('remove',card).masonry('layout');
    }

</script>
{/literal}

<paper-drawer-panel force-narrow>

    <div drawer>

        <paper-toolbar class="toolbar-drawer">
            <div class="title">Options</div>
        </paper-toolbar>

        <paper-menu selected="0">
        <!--<paper-item>Item 1</paper-item>
            <paper-item>Item 2</paper-item>-->
        </paper-menu>

    </div>

    <div main class="fullbleed layout vertical" style="background-color:#e8e8e8">

            <paper-toolbar class="toolbar-main">
                <paper-icon-button paper-drawer-toggle icon="menu" on-tap="menuAction"></paper-icon-button>
                <div class="title">My space</div>
                <search-panel-controllet right-direction="true"></search-panel-controllet>
                <!--<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>-->
            </paper-toolbar>

        <paper-scroll-header-panel class="flex" fixed>

            <div class="layout vertical justified paper-card-container">
                <div class="horizontal layout">
                    <div class="grid" id="grid-container">
                    {foreach $cards as $card}
                        <paper-card-controllet
                                class="grid-item"

                                {if $card->isDatalet}
                                    width="200"
                                    height="200"
                                    datalet-id="{$card->dataletId}"
                                    datalet="{$card->component}"
                                    preset='{$card->preset}'
                                    fields='{$card->fields}'
                                {else}
                                    width="200"
                                    height="200"
                                {/if}

                                card-type="{$card->cardType}"
                                card-title="{$card->card->title}"
                                card-id="{$card->cardId}"
                                comment="{$card->card->comment}"

                                {if $card->cardType == 'link'}
                                    card-link="{$card->card->content}"
                                {/if}
                            >

                            {if $card->isDatalet && !($card->cardType == 'link')}
                                <{$card->component} data-url="{$card->params->dataUrl}"
                                                    data='{$card->data}'
                                                    fields='[{$card->fields}]'>
                                </{$card->component}>
                            {else}
                                {if $card->cardType == 'text'}
                                    {$card->card->content}
                                {else}
                                    <preview-datalet data-url="undefined" url="{$card->card->content}"></preview-datalet>
                                {/if}
                            {/if}

                        </paper-card-controllet>
                    {/foreach}
                    </div>
                </div>
            </div>

        </paper-scroll-header-panel>

        {literal}
        <paper-fab-speed-dial direction="top" class="bottom-right add-paper-fab">
            <paper-fab icon="add" class="dropdown-trigger"></paper-fab>
            <div class="dropdown-content">
                <paper-fab mini icon="link" onclick="SPODPR.openCardCreator('link');"></paper-fab>
                <paper-fab mini icon="text-format" onclick="SPODPR.openCardCreator('text');"></paper-fab>
                <!--<paper-fab mini icon="folder"></paper-fab>-->
                <!--<paper-fab mini icon="perm-media"></paper-fab>-->
                <paper-fab mini icon="assessment" onclick="SPODPR.openOde();"></paper-fab>
            </div>
        </paper-fab-speed-dial>
        {/literal}

    </div>

</paper-drawer-panel>